@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
}

/*===============================/ CSS BEGIN /================================*/

/*=================================/ MAIN /===================================*/
/*--------------------------------> Fonts <-----------------------------------*/
@font-face {
    font-family: 'GothamPro';
    src: url('/fonts/GothamPro.eot');
    src: url('/fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('/fonts/GothamPro.woff') format('woff'), url('/fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------------> Disable Waste <-------------------------------*/
input {
    outline: none;
}
button {
    outline: none;
}
button:active {
    outline: none;
}
button:focus {
    outline: none;
}
p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.page {display: block !important;}
/*-------------------------------> Special <----------------------------------*/
:root {
    --MainBlue: #2665b8 ;        
    --HighlightBlue: #548cd2 ;        
    --BackgroundBlue: #92c2f6 ;        
    --BackgroundGray: #f1f4f6 ;       
    --ShadowGray: #cad0d7 ;      
    --TextGray: #424852 ;
    --TextAsphalt: #455d6d;
}

.Constructor {
    border: solid black 0px;
    padding: 0px;
    margin: 0px;
}

.Unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Scrollable {
    overflow: auto;
}

.Eliminate{
    display: none;
}
/*-------------------------------> Buttons <----------------------------------*/
.BlueButton {
    background-color: #2665b8;
    color: white;
    border: solid white 2px;
    border-radius: 15px;
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
    padding: 1px 15px;
    transition-duration: 0.2s;
}

.BlueButton:hover {
    background-color: #548cd2;
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
}

.LinkButton {
    color: white;
    border: 0;
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;
    background: transparent;
}

.LinkButton:hover {
    color: white;
    text-decoration: underline;
}
.LinkButton:visited {
    color: white;
}
/*-------------------------------> Animation <---------------------------------*/
.Hidden { opacity: 0 }
.Invisible { opacity: 0 }
.Showed { opacity: 0 }
.Visible { opacity: 1 }

.Show {
    animation: Show 500ms linear 0s 1 normal forwards;
}

@keyframes Show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Hide {
    animation: Hide 500ms linear 0s 1 normal forwards;
}

@keyframes Hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*==========================/ LOGIN & REGISTRATION /==========================*/
/*--------------------------------> Style <-----------------------------------*/
.BluePrintWindow {
    /*position*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*style*/
    border: solid black 0px;
    background-image: url(/images/background/tile_blue.png);
    overflow: auto;
}

.AuthLogo {
    display: block;
    width: 40vw;
    min-width: 400px;
    padding: 0;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 2%;
}

.AuthTitle {
    text-align: center;
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 28px;
}

.AuthInput {
    border-radius: 15px;
    background: linear-gradient( 180deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 9px #2b5080;
    border: solid white 0px;
    padding: 3px 15px;
    display: block;
    /*text*/
    color: #2665b8;
    font-family: 'GothamPro', sans-serif;
    font-size: 20px;

    width: 100%;
    margin-top: 2%;
}

::placeholder {
    color: #b4b9bf;
}

/*-------------------------------> Structure <---------------------------------*/
.AuthFormLine {
    width: 100%;
    display: flex ;
    justify-content: space-between;
    margin-top: 2%;
}

.AuthSocial {
    width: 49%;
    text-align: left;
}

#SigninButton{
    width: 35%;
}

#ForgetPass {
    font-size: 18px;
}

.AuthMainBlock {
    width: 40vw;
    min-width: 500px;
    margin: auto;
}
.AuthForm {
    display: inline-block;
    width: 80%;
    vertical-align: middle
}
.AuthSigns {
    display: inline-block;
    width: 9%;
    vertical-align: middle
}

.AuthSocialIcon {
    width: 20px;
    margin-bottom: 2px;
}

/*--------------------------------> Footer <-----------------------------------*/

.AuthFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*-----------------------------> Error Animation <-----------------------------*/
.AuthWarningIcon {
    width: 40px;
    margin-top:5px;
}

.AuthErrorMessage {
    width: 100%;
    text-align: center;
    background-color: white;
    font-family: 'GothamPro', sans-serif;
}

.AuthCollapsedLine {
    height: 0;
    margin-bottom: 24px;
    color: transparent;
}

.AuthCollapseLine {
    animation: AuthCollapseLine 500ms linear 0s 1 normal forwards;
}

@keyframes AuthCollapseLine {
    from {
        height: 24px;
        margin-bottom: 0;
        color: #2665b8;
    }
    50% {
        height: 24px;
        margin-bottom: 0;
        color: transparent;
    }
    to {
        height: 0;
        margin-bottom: 24px;
        color: transparent;
    }
}

.AuthExpandLine {
    animation: AuthExpandLine 500ms linear 0s 1 normal forwards;
}

@keyframes AuthExpandLine {
    from {
        height: 0;
        margin-bottom: 24px;
        color: transparent;
    }
    50% {
        height: 24px;
        margin-bottom: 0;
        color: transparent;
    }
    to {
        height: 24px;
        margin-bottom: 0;
        color: #2665b8;
    }
}
/*----------------------------> Loading animation <------------------------------*/

.ButtonLoading {
    color: transparent;
    background-image: url(/images/animation/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 150%;
}
    .ButtonLoading:hover {
        color: transparent;
        background-color: var(--MainBlue);
    }

/*--------------------------------> Checkbox <-----------------------------------*/
input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url(/images/controls/checkbox.png)center no-repeat;
    background-size: 20px;
    vertical-align: text-bottom;
}

    input[type="checkbox"]:checked {
        background: url(/images/controls/checkbox_checked.png)center no-repeat;
        background-size: 20px;
    }

    input[type="checkbox"]:hover {
        filter: contrast(110%) brightness(110%);
        background-size: 20px;
        cursor: pointer;
    }

    input[type="checkbox"]:checked:hover {
        filter: contrast(110%) brightness(110%);
        background-size: 20px;
        cursor: pointer;
    }

.AuthCheckboxText {
    color: white;
    border: 0;
    font-family: 'GothamPro', sans-serif;
    font-size: 16px;
}
/*=================================/ LANDING /=================================*/

.LandingHeader {
    background-color: #2665b8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.LandingBlock {
    width: 100%;
    min-height: 100vh;
}
#LendingLogin{
    margin: 0 10px;
}
#LendingRegister {
    margin: 0 10px;
}
/*-----------------------------------> Main <----------------------------------*/
#LandingBlockMain {
    background: radial-gradient(ellipse at right 0% bottom 100%, rgba(130,189,253,1) 0%, rgba(38,101,184,1) 100%);
    padding: 2% 5% 0 5%;
}

.LandingLogo {
    display: block;
    width: 50%;
    margin: 0 auto 20px;
}

.LandingMainContainer {
    display: flex;
    justify-content: space-between;
}

.LandingMainInfo{
    width: 60%;
    height: 50px;
}

.LandingMainPicture {
    width: 25%;
    margin: 0 5%;
}

.LandingMainTitle {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 7.2vh;
    margin: 20px 0;
    line-height: 8vh;
}

.LandingMainText {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.2vh;
    margin-bottom: 3%;
}

#LandingCreateButton {
    display: block;
    margin: auto;
    font-size: 4.3vh;
    padding: 5px;
    width: 60%;
    border-radius: 20px;
    margin-top: 6%;
}
/*---------------------------------> Interior <---------------------------------*/
#LandingBlockInterior {
    background-color: #f1f4f6;
    padding: 2% 5% 0 5%;
}

.LandingInteriorTitle {
    color: #455d6d;
    font-family: 'GothamPro', sans-serif;
    font-size: 6.4vh;
    margin: 20px 0;
}

.LandingInteriorText {
    color: #455d6d;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.2vh;
    margin-bottom: 3%;
}

.LandingInteriorPicture{
    display: block;
    width: 90%;
    margin: auto;
}
/*-----------------------------------> Plane <----------------------------------*/

#LandingBlockPlane {
    background: radial-gradient(ellipse at right 0% bottom 100%, rgba(130,189,253,1) 0%, rgba(38,101,184,1) 100%);
    background-image: url(/images/landing/pictures/plan_background.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
    padding: 2% 5% 0 5%;
    background-size: cover;
}

.LandingPlaneTitle {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 6.4vh;
    margin: 20px 0;
}

.LandingPlaneText {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.2vh;
    margin-bottom: 3%;
    width: 50%;
}
/*---------------------------------> Algorithm <--------------------------------*/

#LandingBlockAlgorithm {
    background-color: #f1f4f6;
    background-image: url(/images/landing/pictures/algorithm.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
    padding: 2% 5% 0 5%;
}

.LandingAlgorithmTitle {
    color: #455d6d;
    font-family: 'GothamPro', sans-serif;
    font-size: 6.4vh;
    margin: 20px 0;
}

.LandingAlgorithmText {
    color: #455d6d;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.2vh;
    margin-bottom: 3%;
    width: 50%;
}

/*--------------------------------> Advantages <-------------------------------*/

#LandingBlockAdvantages {
    background: linear-gradient(0deg, rgb(130, 189, 253), rgb(38, 101, 184));
    display: flex;
    justify-content: space-around;
}

.LandingBlockAdvantagesColumn{
    width: 20%;
    text-align: center;
}

.LandingAdvantagesIcon{
    width: 40%;
    margin: 20%
}
.LandingAdvantagesTitle {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 6.4vh;
    text-align: center;
}
.LandingAdvantagesText {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.2vh;
    text-align: center;
}
/*---------------------------------> Carousel <--------------------------------*/
#LandingBlockCarousel {
    background-color: #f1f4f6;
    height: 100vh;
    padding: 1%;
}

.LandingCarouselTitle {
    color: #455d6d;
    font-family: 'GothamPro', sans-serif;
    font-size: 6.4vh;
    text-align: center;
    margin-bottom: 10px;
}
.LandingCarouselContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.CarouselButton {
    width: 7%;
    box-sizing: content-box;
}

    .CarouselButton:hover {
        -webkit-filter: brightness(120%);
        cursor: pointer;
    }

.Carousel {
    max-height: calc(100vw / 2.7); /*Подбирается в зависимости от картинки*/
    border-radius: 20px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.CarouselTemplate {
    opacity: 0;
    height: 100%;
}

.CarouselPhoto {
    position: absolute;
    height: 100%;
    left: 0;
    transition-property: left;
}

.CarouselMoveRightIn {
    animation: CarouselMoveRightIn 500ms linear 0s 1 normal forwards;
}
.CarouselMoveRightOut {
    animation: CarouselMoveRightOut 500ms linear 0s 1 normal forwards;
}
.CarouselMoveLeftIn {
    animation: CarouselMoveLeftIn 500ms linear 0s 1 normal forwards;
}
.CarouselMoveLeftOut {
    animation: CarouselMoveLeftOut 500ms linear 0s 1 normal forwards;
}
@keyframes CarouselMoveRightIn{
    from{
        left: -100%
    }
    to {
        left: 0
    }
}
@keyframes CarouselMoveRightOut {
    from {
        left: 0
    }
    to {
        left: 100%
    }
}
@keyframes CarouselMoveLeftIn {
    from {
        left: 100%
    }
    to {
        left: 0
    }
}
@keyframes CarouselMoveLeftOut {
    from {
        left: 0
    }
    to {
        left: -100%
    }
}

.LandingMobilePhotos{
    display: none;
}
/*==========================/ HEADER AND WINDOW  /==========================*/
.Header {
    background-color: var(--MainBlue);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.MenuWindow {
    height: calc(100vh - 50px);
    background-color: var(--BackgroundBlue);
}

/*================================/ PLANS /===============================*/
#PlansMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlanCard {
    position: relative;
    background-color: white;
    height: 70vh;
    width: 48vh;
    background-size: 17vh;
    background-position: -2vh;
    margin: 0 10vh;
    border-radius: 20px;
    padding: 2vh 5vh;

    box-shadow: 3px 3px 10px 4px rgb(34 60 80 / 30%);
}
.PlanCardHeader {
    text-align: center;
    font-family: 'GothamPro', sans-serif;
    font-size: 6vh;
    margin-bottom: 4vh;
}

.PlanCardItem {
    font-family: 'GothamPro', sans-serif;
    font-size: 3.3vh;
}
.PlanCardPrice {
    font-family: 'GothamPro', sans-serif;
    font-size: 2.5vh;
    line-height: 4.5vh;
    position: absolute;
    bottom: 2vh;
}

.PlanCardButton {
    width: 80%;
    font-family: 'GothamPro', sans-serif;
    font-size: 4vh;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 12vh;
    left: 0;
    right: 0;
    width: 70%;
    border-radius: 2vh;
}
.PlanCardButton:hover {
    font-size: 4vh;
}

.PlanCardCorner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 9vh;
    height: 9vh;
    border-radius: 20px 0 0 0;
    box-sizing: content-box;
}

.PlanCardCornerShadow {
    position: absolute;
    right: -2.5vh;
    bottom: -2.5vh;
    width: 14vh;
    height: 14vh;
    box-sizing: content-box;
    background: linear-gradient( 135deg, rgba(202,208,215,0) 50%, rgba(146,194,246,1) 60%);
}
/*Версии*/
.PlanButtonWhiteDisabled {
    border: dashed #aaaaaa 2px;
    color: #aaaaaa;
    background: #f4f6f8;
}
.PlanButtonBlueDisabled {
    border: dashed #749bcb 2px;
    color: #749bcb;
    background: var(--MainBlue);
}

#PlanCardFree {
    background-image: url(/images/background/tile_white.png);
    color: var(--TextGray);
}

#PlanCardPro {
    background-image: url(/images/background/tile_blue.png);
    color: #ffffff;
}

.WhiteCorner {
    background: linear-gradient(135deg, rgba(202,208,215,1) 50%, #759fcb 50%);
}
.BlueCorner {
    background: linear-gradient(135deg, rgba(25,66,121,1) 50%, #759fcb 50%);
}
/*================================/ FOOTER /================================*/
footer {
    background-color: #2665b8;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.FooterInfo {
    width: 30%;
}
.FooterLogo {
    height: 10vh;
}
.FooterLegal {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 2.3vh;
    margin-left: 3.5vh;
}

.FooterSocial {
    width: 40vh;
    text-align: center
}

.FooterSocialTitle {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.5vh;
    margin: 5px 0;
    text-align: center;
}

.FooterSocialIcon {
    width: 7vh;
    margin: 3% 1%;
}
/*================================/ NOT FOUND /================================*/
#NotFoundTitle {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 24vh;
    text-align: center;
    line-height: 28vh;
    text-shadow: 4px 4px 4px rgba(11,29,53,0.77);
}

#NotFoundMessage {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 6.4vh;
    text-align: center;
    margin-bottom: 4.8vh;
    text-shadow: 3px 3px 4px rgba(11,29,53,0.77);
}

#NotFoundLink {
    color: white;
    font-family: 'GothamPro', sans-serif;
    font-size: 3.2vh;
    text-align: center;
    display: block;
    text-shadow: 3px 3px 4px rgba(11,29,53,0.77);
}

#NotFoundBlock {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*==================================/ UNITY /==================================*/
#unity-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullsize{
    width:  100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}