Roominator/bin/
Roominator/obj/
obj
.vs/
.idea/

Roominator/bin/Debug/net5.0/ref/Roominator.dll
Roominator/obj/project.nuget.cache
Roominator/obj/project.assets.json
Roominator/bin/Debug/net5.0/ref/Roominator.dll
