@page "/Identity/Pages/Account/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link media="(orientation: landscape)" href="~/css/site.css" rel="stylesheet" />
<link media="(orientation: portrait)" href="~/css/mobile.css" rel="stylesheet" />
 <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<meta name="google-signin-client_id" content="636057004195-qufc1kso44du6lpbp191vdmdvogco237.apps.googleusercontent.com">

<div class="BluePrintWindow Scrollable">
    <img src="/images/logo/logo_shadow.png" alt="Roominator logo" class="AuthLogo">

    <p class="AuthTitle Unselectable">Вхід</p>
    
    <p id ="LoginErrLine" class="AuthErrorMessage Unselectable AuthCollapsedLine">test</p>

    <div class="Constructor AuthMainBlock">
        <div class="Constructor AuthSigns">
        </div>
        <div class="Constructor AuthForm">
            <form class="Constructor AuthFormLine" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <button type="submit" class="BlueButton AuthSocial" name="provider" value="Google">
                    <img src="/images/icons/login/google.png" alt="Google" class="AuthSocialIcon">| Google
                </button>
                <button type="submit" class="BlueButton AuthSocial" name="provider" value="Facebook">
                    <img src="/images/icons/login/facebook.png" alt="Facebook" class="AuthSocialIcon">| Facebook
                </button>
            </form>
            <form id="account" method="post">

                <input class="AuthInput" asp-for="Input.Email" type="email" placeholder="Пошта" id="SigninMail" />
                <span asp-validation-for="Input.Email" class="text-danger Eliminate"></span>
                <input class="AuthInput" asp-for="Input.Password" type="password" placeholder="Пароль" id="SigninPassword" />
                <span asp-validation-for="Input.Password" class="text-danger Eliminate"></span>
                <div class="Constructor AuthFormLine">
                    <button class="LinkButton" id="ForgetPass"> Забули пароль? </button>
                    <button type="submit" class="BlueButton" id="SigninButton">Вхід</button>
                </div>
            </form>
        </div>
        <div class="Constructor AuthSigns">
            <img src="/images/icons/login/attention.png" alt="X" class="AuthWarningIcon Hidden" id="SigninMailWarning">
            <img src="/images/icons/login/attention.png" alt="X" class="AuthWarningIcon Hidden" id="SigninPassworfWarning">
        </div>
    </div>
    <a class="LinkButton AuthFooter" asp-route-returnUrl="@Model.ReturnUrl" asp-page="./Register">Немає аккаунту? Реєстрація</a>

</div>
<div asp-validation-summary="All" class="Unselectable" id="LoginSummary"></div>
<script src="/javascript/Login.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
