@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link media="(orientation: landscape)" href="~/css/site.css" rel="stylesheet" />
<link media="(orientation: portrait)" href="~/css/mobile.css" rel="stylesheet" />
<meta name="google-signin-client_id" content="636057004195-qufc1kso44du6lpbp191vdmdvogco237.apps.googleusercontent.com">


<div class="BluePrintWindow Scrollable">
    <img src="/images/logo/logo_shadow.png" alt="Roominator logo" class="AuthLogo">
    <p class="AuthTitle Unselectable">Авторизація</p>
    <div class="Constructor AuthMainBlock">
        <div class="Constructor AuthSigns">
        </div>
        <div class="Constructor AuthForm">
            <div class="Constructor AuthFormLine">

                <div class ="g-signin2 BlueButton" id="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true">
                    <!--<img src="/images/icons/login/google.png" alt="Google" class="AuthSocialIcon">| Google-->
                </div>
                <button class="BlueButton AuthSocial">
                    <img src="/images/icons/login/facebook.png" alt="Facebook" class="AuthSocialIcon">| Facebook
                </button>
            </div>

            <input asp-for="Input.Email" type="password" placeholder="Пароль" id="SigninPassword" class="AuthInput" />
            <input asp-for="Input.Password" type="password" placeholder="Пароль" id="SigninPassword" class="AuthInput" />

            <div class="Constructor AuthFormLine">
                <button class="LinkButton" id="ForgetPass"> Забули пароль? </button>
                <button type="submit" class="BlueButton" id="SigninButton">Вхід</button>
            </div>
        </div>
        <!--<div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>-->
        <!-- <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"  class="LinkButton AuthFooter">Register as a new user</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div>-->
    </div>
    <a class="LinkButton AuthFooter" asp-route-returnUrl="@Model.ReturnUrl" asp-page="./Register">Немає аккаунту? Реєстрація</a>
    <script>
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        }
        function onFailure(error) {
            console.log(error);
        }
        function renderButton() {
            gapi.signin2.render('g-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'onsuccess': onSuccess,
                'onfailure': onFailure,
                'padding': '1px 15px'
            });
        }</script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
