@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link media="(orientation: landscape)" href="~/css/site.css" rel="stylesheet" />
<link media="(orientation: portrait)" href="~/css/mobile.css" rel="stylesheet" />
<meta name="google-signin-client_id" content="636057004195-qufc1kso44du6lpbp191vdmdvogco237.apps.googleusercontent.com">

<div class="BluePrintWindow Scrollable">
    <img src="/images/logo/logo_shadow.png" alt="Roominator logo" class="AuthLogo">

    <p class="AuthTitle Unselectable">Вхід</p>

    <p class="AuthErrorMessage Unselectable"></p>

    <div class="Constructor AuthMainBlock">
        <div class="Constructor AuthSigns">
        </div>
        <div class="Constructor AuthForm">
            <form class="Constructor AuthFormLine" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <button type="submit" class="BlueButton AuthSocial" name="provider" value="Google">
                    <img src="/images/icons/login/google.png" alt="Google" class="AuthSocialIcon">| Google
                </button>
                <button type="submit" class="BlueButton AuthSocial" name="provider" value="Facebook">
                    <img src="/images/icons/login/facebook.png" alt="Facebook" class="AuthSocialIcon">| Facebook
                </button>
            </form>
            <form id="account" method="post">
                <input asp-for="Input.Email" type="email" placeholder="Пошта" id="SigninMail" class="AuthInput" />
                <input asp-for="Input.Password" type="password" placeholder="Пароль" id="SigninPassword" class="AuthInput" />

                <div class="Constructor AuthFormLine">
                    <button class="LinkButton" id="ForgetPass"> Забули пароль? </button>
                    <button type="submit" class="BlueButton" id="SigninButton">Вхід</button>
                </div>
            </form>
        </div>
    </div>

    <a class="LinkButton AuthFooter" asp-route-returnUrl="@Model.ReturnUrl" asp-page="./Register">Немає аккаунту? Реєстрація</a>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
