@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<link media="(orientation: landscape)" href="~/css/site.css" rel="stylesheet" />
<link media="(orientation: portrait)" href="~/css/mobile.css" rel="stylesheet" />
<meta name="google-signin-client_id" content="636057004195-qufc1kso44du6lpbp191vdmdvogco237.apps.googleusercontent.com">

<div class="BluePrintWindow Scrollable">

    <img src="/images/logo/logo_shadow.png" alt="Roominator logo" class="AuthLogo">
    <p class="AuthTitle Unselectable">Реєстрація</p>

    <div class="Constructor AuthMainBlock">
        <div class="Constructor AuthSigns">
        </div>
        <div class="Constructor AuthForm">
            <form class="Constructor AuthFormLine" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <button type="submit" class="BlueButton AuthSocial" name="provider" value="Google">
                    <img src="/images/icons/login/google.png" alt="Google" class="AuthSocialIcon">| Google
                </button>
                <button type="submit" class="BlueButton AuthSocial" name="provider" value="Facebook">
                    <img src="/images/icons/login/facebook.png" alt="Facebook" class="AuthSocialIcon">| Facebook
                </button>
            </form>
            <form  method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.Email" type="email" placeholder="Пошта" id="SignupMail" class="AuthInput" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" type="password" placeholder="Пароль" id="SignupPassword" class="AuthInput" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="Повтор паролю" id="SignupConfirmPassword" class="AuthInput" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                <div class="Constructor AuthFormLine">
                    <p class="AuthCheckboxText"><input type="checkbox" value="agree" name="TermsAgree" id="TermsAgree"> Я погоджуюсь з умовами </p>
                    <button class="BlueButton btn" id="SignupButton" type="submit"> Реєстрація </button>
                </div>
            </form>
        </div>
    </div>
    <a class="LinkButton AuthFooter" asp-route-returnUrl="@Model.ReturnUrl" asp-page="./Login">Є аккаунт? Вхід</a>
    <script>startApp();</script>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
