@page "/apppage"
@using System.Threading.Tasks;
@inject NavigationManager NavManager
@inject IJSRuntime JS
<div class="BluePrintWindow">
    <div id="NotFoundBlock">
        <div class="Unselectable" id="NotFoundMessage">Завантаження...</div>
    </div>
</div>
@code {

    private void StartupMethod()
    {
        if (Program.mobileHelper.GetEntry() == Entry.Unknown)
        {
            Program.mobileHelper.SetEntry(Entry.APK);
        }
        JS.InvokeVoidAsync(
           "RedirectTo", "/Identity/Pages/Account/login");
    }

    private Task StartupTask()
    {
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        StartupMethod();
        await StartupTask();
        await base.OnAfterRenderAsync(firstRender);
    }

}
