@page "/login"

<div class="AuthWindow">

    <img src="/images/logo/logo_shadow.png" alt="Roominator logo" class="AuthLogo">
    <p class="AuthTitle">Вход</p>
    <input type="text" placeholder="Логін" id="SigninLogin" class="AuthInput">
    <input type="password" placeholder="Пароль" id="SigninPassword" class="AuthInput">
    <button class="LinkButton"> Вхід </button>
    <button class="BlueButton"> Вхід </button>
</div>
