@page "/menu"
@inject NavigationManager NavManager
<div>
    <button @onclick="SomeStartupMethod">BUTTON</button>
</div>

@code{
    async Task SomeStartupMethod()
    {
        Program.manager.getCode(NavManager.Uri);
        Program.manager.getInfoFromGoogleAnswer(await Program.manager.sendRequestToExchangeCodeForAccessTokenAsync());
        await Program.manager.sendRequestAsync();
    }
}