@page "/menu"
@inject NavigationManager NavManager
<div>
    <button @onclick="SomeStartupMethod">BUTTON</button>
</div>

@code{

    async Task SomeStartupMethod()
    {

        Program.manager.getCode(NavManager.Uri);
        await Program.manager.sendRequestToExchangeAccessTokenAsync();
    }


}