<div class="BluePrintWindow">
    <div id="NotFoundBlock">
        <div class="Unselectable" id="NotFoundTitle">404</div>
        <div class="Unselectable" id="NotFoundMessage">Такої сторінки не існує</div>
        <a href="/" class="LinkButton GlitchEffect" id="NotFoundLink">На головну</a>
     </div>
</div>
