@page "/roomview"
@inject NavigationManager NavManager

<div class="MenuWindow" id="PlansMenu">
    <img src="@image" alt="Image" class="RoomViewImage">
    <a href="/menu" class="LinkButton HeaderLink HeaderLinkRight"> ❮ Назад </a>
</div>

@code{
    private static string image;

    public static void ShowPlan(string src)
    {
        image = src;
    }
}
