@page "/roomview"
@inject NavigationManager NavManager

<div class="MenuWindow" id="PlansMenu">
    <img src="/images/room_placeholder.png" alt="Image" class="RoomViewImage">
    <a href="/menu" class="LinkButton HeaderLink HeaderLinkRight"> ❮ Назад </a>
</div>
