@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="Header">
        <script>alert(Url)</script>
        <button class="AccountLink">
            <img src="/images/icons/account.png" alt="UserPic" class="HeaderUserPic">
            <a href="/menu"> @UserManager.GetUserName(User)</a>
        </button>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
}
else
{
    <div class="LandingHeader">
        <a class="LinkButton" id="LendingLogin" asp-area="Identity" asp-page="/Account/Login"> Вхід </a>
        <a class="BlueButton " id="LendingRegister" asp-area="Identity" asp-page="/Account/Register"> Реєстрація </a>
    </div>
}